<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Model report</title>
</head>
<body>
    <h1>{{ title }}</h1>
    <p>{{ text }}</p>
    <table>
        <tr>
            <th>Train</th>
            <th>Test</th>
        </tr>
        <tr>
            <td><img src="{{ image_path_accuracy_train }}" alt=""></td>
            <td><img src="{{ image_path_accuracy_test }}" alt=""></td>
        </tr>
        <tr>
            <td><img src="{{ image_path_precision_train }}" alt=""></td>
            <td><img src="{{ image_path_precision_test }}" alt=""></td>
        </tr>
        <tr>
            <td><img src="{{ image_path_recall_train }}" alt=""></td>
            <td><img src="{{ image_path_recall_test }}" alt=""></td>
        </tr>
        <tr>
            <td><img src="{{ image_path_f1_train }}" alt=""></td>
            <td><img src="{{ image_path_f1_test }}" alt=""></td>
        </tr>
        <tr>
            <td><img src="{{ image_path_winrate_train }}" alt=""></td>
            <td><img src="{{ image_path_winrate_test }}" alt=""></td>
        </tr>
        <tr>
            <td><img src="{{ image_path_sum_pnl_train }}" alt=""></td>
            <td><img src="{{ image_path_sum_pnl_test }}" alt=""></td>
        </tr>
        <tr>
            <td><img src="{{ image_path_num_trades_train }}" alt=""></td>
            <td><img src="{{ image_path_num_trades_test }}" alt=""></td>
        </tr>
    </table>>
</body>
</html>